.gallery.img-polaroid
  %ul
    - @entries.each_with_index do |entry, i|
      %li
        .gallery-item
          .gallery-img
            =link_to image_tag(entry.image_url.to_s, :class =>"img-polaroid"), entry
