%h3 Home
- @entries.each do |entry|

  %ul
    %li
      -#=entry.name
      = link_to image_tag(entry.image_url.to_s, :class =>"img-polaroid", :size => "100x100"), entry

      -#= link_to "vote", vote_entry_path(entry), method: "post", :class => "btn btn-small"
      -#= "(" + pluralize(entry.reputation_for(:votes).to_i, "vote") + ")"

