.entry-new
{
  padding-top: 40px;
}

.caption
{
  margin-top: 10px;
}


#example5{
  float:left;
  margin:68px 25% 0 25%;
}
.sharrre .button{
  float:left;
  width:60px;
}

.facebook{
  margin-top: 20px;
}

.twitter{
  margin-top: 20px;
}
.pinterest{
  margin-top: 20px;
}
