// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comp-desc
{
  display:block;
  min-width:90px;
  height:190px;
  background-color:#475;
  border-color: #000;
  margin-top: 10px;
  border: 1px;
  padding: 0px 10px 10px 10px;
}

.client-header
{
  margin-bottom: -44px;
}

.client-header-submit
{
  position: relative;
  top: -55px;
  float: right;
  margin-right: 10px;
}